.about-section{
    height: 400px;
    width: auto;
    margin: 40px auto;
    box-shadow: 0 0 10px 5px;
    
}
.about-image img{
    border-radius: 190px;
    margin-top: 50px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    margin: 50px auto;
    object-fit:cover;
    border: 5px solid black;
}
.about-details{
    margin-top: 50px;

}
.about-title h5{
   text-align: center;

}
.line-about{
    display:block;
    width: 100px;
    height: 3px;
    margin: auto;
    background-color: black;
}
#dark .about-section{
    background-color: gray;
    color: black;
}

.about-para{
    justify-content: end;
}


@media (max-width:1200px) {
    .about-section{
        height:auto;
    }
}
